@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-lato text-stroke-1 text-stroke-white;
  }
  
  body {
    @apply font-montserrat;
  }
}

@layer utilities {
  .text-stroke-1 {
    -webkit-text-stroke: 1px;
    text-stroke: 1px;
  }
  
  .text-stroke-white {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.8);
    text-stroke-color: rgba(255, 255, 255, 0.8);
  }
  
  .text-stroke-black {
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.8);
    text-stroke-color: rgba(0, 0, 0, 0.8);
  }
}